/.changeset
/.github
/.svelte-kit
/.vercel
node_modules
/scripts
/src
/static
.env
.env.*
!.env.example
.eslintignore
.eslintrc.cjs
.gitignore
.npmignore
.npmrc
.prettierignore
.prettierrc
pnpm-lock.yaml
svelte.config.js
tsconfig.json
vite.config.ts
