/.changeset
/.github
/.svelte-kit
/.vercel
/scripts
/src
/static
.eslintignore
.eslintrc.cjs
.gitignore
.npmignore
.npmrc
.prettierignore
.prettierc
pnpm-lock.yaml
svelte.config.js
tsconfig.json
vite.config.ts