html {
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	--bg-color: white;
	color: #333;
}

body {
	margin: 0;
}

main {
	max-width: 1000px;
	margin: auto;
	padding: 1px 16px 32px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #777;
}

a,
a:visited {
	color: #0000ee;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	margin-left: 1rem;
}

h2,
h3,
h4 {
	margin-top: 4rem;
}

h4 {
	font-weight: bold;
}

h1 + h2,
h2 + h3,
h3 + h4,
#default-layout {
	margin-top: 0;
}

@media (min-width: 768px) {
	#color-props {
		margin-top: 0;
	}
}

blockquote {
	margin: 3rem 5rem 0;
}

/** table */
table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid black;
	padding: 8px;
}

@media (min-width: 768px) {
	.example-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}
}

:global(body) {
	background-color: var(--bg-color);
}

.grade {
	border-radius: 50px;
	padding: 2px 8px;
	background-color: green;
	color: white;
	font-weight: bold;
}

.center {
	text-align: center;
}

ul {
	padding-left: 32px;
	margin: 8px 0;
}

@media (max-width: 768px) {
	li {
		margin: 4px 0;
	}
}

/** scoll stuff */
* {
	--dark: #ccc;
	--light: var(--bg-color);
	scrollbar-width: thin;
	scrollbar-color: var(--dark) var(--light);
	scroll-behavior: smooth;
}
*::-webkit-scrollbar-track {
	background: var(--light);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}
*::-webkit-scrollbar {
	width: 7px;
}

/** Rehype link styling */

.icon-link {
	position: relative;
	color: #bbb;
}

.icon-link::before {
	content: '#';
	position: absolute;
	left: -1.7ch;
	top: -5px;
	opacity: 0;
	padding: 5px;
}

h1:hover .icon-link::before,
h2:hover .icon-link::before,
h3:hover .icon-link::before,
h4:hover .icon-link::before {
	opacity: 1;
}

/** Code block styling */
code[class*='language-'],
pre[class*='language-'] {
	letter-spacing: 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, 'Courier New', monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}

pre > code[class*='language-'] {
	font-size: 1em;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
	background: #2a2a2a;
}

pre[class*='language-'] {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #e1e1e8;
	overflow: auto;
	position: relative;
}

pre[class*='language-'] code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*='language-'] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: 0.3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
	opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9fa08e;
}

.token.operator,
.token.boolean,
.token.number {
	color: #a77afe;
}

.token.attr-name,
.token.string {
	color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #e6d06c;
}

.token.selector,
.token.inserted {
	color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
	color: #ef3b7d;
}

.token.regex,
.token.statement {
	color: #76d9e6;
}

.token.placeholder,
.token.variable {
	color: #fff;
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.punctuation {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .token.tag {
	color: #ef3b7d;
}

code.language-markup .token.attr-name {
	color: #a6e22d;
}

code.language-markup .token.attr-value {
	color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
	color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
	color: #76d9e6;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	padding: 0;
	background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	height: 1em;
	line-height: 1em;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
